/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
*/
body {
    background-color: hsl(212, 45%, 89%);
    display: grid;
    height: 100vh;
    justify-items: center;
    align-content: center;
}

section{
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 280px;
    padding: 20px;
    padding-top: 20px;
    border-radius: 20px;
}

img {
    align-self: center;
    width: 280px;
    border-radius: 15px;
}

h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 30px;
    font-family: 'Outfit';
    font-size: 1.3rem;

}
p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
footer{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: blue;
}